@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
  display: flex;
  flex-direction: column;
  background-color: white;
  background-image: url('public/slider-bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Poppins' serif;
  margin: 0px 0px 75px 0px;
}

header {
  margin: 35px 0px 30px 0px;
}

h1 {
  margin: 50px 0px 25px 0px;
  color: rgb(80, 69, 175);
  font-family: 'Poppins', serif;
  font-size: 56px;
  font-weight: 700;
}

h4 {
  margin: 16px 0px 0px 0px;
  color: rgb(80, 69, 175);
}

.card-subtitle {
  color: rgb(80, 69, 175);
}

#after-sign-in {
  margin: 0px 0px 36px 0px;
}

#sign-out {
  background-color: rgb(252, 167,33);
  color: white;
  hover: rgb(80, 69, 175);
}

.btn {
  color: rgb(80, 69, 175);
  font-weight: bold;
}

.btn:hover {
  background-color: rgb(252, 167,33);
  color: white;
}

#messaging {
  color: rgb(252, 167,33);
  font-size: 18px;
}

label {
  color: rgb(80, 69, 175);
}

.card-text {
  color: rgb(80, 69, 175);
}

// .nav-btn {
//   margin: auto;
// }

.no-show {
  display: none;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(80, 69, 175);
   color: white;
   text-align: center;
   padding-top: 10px;
}
