@import '~bootstrap/scss/bootstrap';

body {
  display: flex;
  flex-direction: column;
  background-image: url("./../public/slider-bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  margin: 16px 0px 26px 0px
}

.nav-btn {
  margin: auto;
}

.no-show {
  display: none;
}

form {
  margin: 10px 0px 20px 0
}

// footer {
//     position: fixed;
//     padding: 10px 10px 0px 10px;
//     bottom: 0;
//     width: 100%;
//     /* Height of the footer*/
//     height: 40px;
//     background: grey;
// }
